gt_data/*
!gt_data/Readme.md
tracker_output/*
!tracker_output/Readme.md
output/*
data/trackers/*
!data/trackers/mot_challenge/MOT17-train/20221127_result_auginput17dim_finethresh_wodist_onefut/
data/gt/bdd100k/*
data/gt/davis/*
data/gt/kitti/*
data/gt/youtube_vis/*
!goutput/Readme.md
**/__pycache__
.idea
error_log.txt
